@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Unit Price</th>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Description</td>
                <td>@p.UnitPrice</td>
            </tr>
        }
    </tbody>
</table>
