@{
    ViewBag.Title = "Flash Testing";
}

<h2>Flash Testing</h2>

<p>
    @Html.ActionLink("Default", "Index")
</p>

<p>
    @Html.ActionLink("Success Message", "Success")    
</p>

<p>
    @Html.ActionLink("Info Message", "Info")
</p>

<p>
    @Html.ActionLink("Warning Message", "Warning")
</p>

<p>
    @Html.ActionLink("Error Message", "Error")
</p>

